@model IEnumerable<Hardware.Models.Product>

@{
    ViewData["Title"] = "Product";
}

<h1>Product </h1>

<form asp-action="Search" class="form-inline">
    <div class="form-group mb-2">
        <input type="text" name="searchString" class="form-control" placeholder="Search by product name" />
    </div>
    <button type="submit" class="btn btn-primary mb-2 ml-2">
        Search <i class="fa fa-search"></i>
    </button>
    <a asp-action="Index" class="btn btn-secondary mb-2 ml-auto">
        <i style="font-size:18px" class="fa fa-list"></i> List
    </a>
</form>


<p>
    <br />
    <a asp-action="Create" class="btn btn-primary btn-rounded">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Id)</th>
            <th>@Html.DisplayNameFor(model => model.Name)</th>
            <th>@Html.DisplayNameFor(model => model.Price)</th>
            <th>@Html.DisplayNameFor(model => model.ProductCategoryId)</th>
            <th>@Html.DisplayNameFor(model => model.Quantity)</th>
            <th>@Html.DisplayNameFor(model => model.UnitsPurchased)</th>
            <th>@Html.DisplayNameFor(model => model.UnitsSold)</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Id)</td>
                <td>@Html.DisplayFor(modelItem => item.Name)</td>
                <td>@Html.DisplayFor(modelItem => item.Price)</td>
                <td>@Html.DisplayFor(modelItem => item.ProductCategoryId)</td>
                <td>@Html.DisplayFor(modelItem => item.Quantity)</td>
                <td>@Html.DisplayFor(modelItem => item.UnitsPurchased)</td>
                <td>@Html.DisplayFor(modelItem => item.UnitsSold)</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary btn-rounded">
                        <i style="font-size:24px" class="fa">&#xf044;</i> Edit
                    </a>
                    <!-- Add this line to your HTML or layout file -->
                    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-abc123..." crossorigin="anonymous" />

                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-primary btn-rounded">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger btn-rounded">
                        <i class="fas fa-trash-alt"></i> Delete
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>

<h2>Additional Actions</h2>

<table class="table">
    <thead>
        <tr>
            <th>Product Name</th>
            <th>Purchase</th>
            <th>Sale</th>
            <th>Inventory</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Name</td>
                <td>
                    <a asp-controller="Purchases" asp-action="Create" asp-route-id="@item.Id" class="btn btn-success">Add Purchase</a>
                </td>
                <td>
                    <a asp-controller="Sales" asp-action="Create" asp-route-id="@item.Id" class="btn btn-info">Add Sale</a>
                </td>
                <td>
                    <a asp-controller="Inventory" asp-action="Index" class="btn btn-warning">View Inventory</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<div>
    <a asp-controller="Admin" asp-action="Login" class="btn btn-danger btn-rounded">Log Out</a>
</div>
